body{
margin:0;
padding:0;
background:#222;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.player{
width:350px;
background:white;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 0 15px black;
}

img{
width:220px;
height:220px;
border-radius:10px;
object-fit:cover;
}

.controls button{
font-size:25px;
padding:10px 18px;
margin:10px;
cursor:pointer;
border:none;
border-radius:10px;
background:#007BFF;
color:white;
}

.controls button:hover{
background:#0056b3;
}

#progress{
width:100%;
}

.volume{
margin-top:15px;
}

#playlist{
list-style:none;
padding:0;
}

#playlist li{
padding:10px;
cursor:pointer;
border-bottom:1px solid #ddd;
}

#playlist li:hover{
background:#f1f1f1;
}